@page "/"
@using BlazeCardsCore.Components

<div style="width: 100%; height: 100%">
    <CanvasComponent></CanvasComponent>
    @*<svg class="test-canvas" @*tabindex="0">
        <CardComponent></CardComponent>
    </svg>*@
</div>