@page "/"
@using BlazeCardsCore.Components

<h1>Hello Blaze cards!</h1>

<div style="width: 600px; height: 600px">
    <CanvasComponent></CanvasComponent>
    @*<svg class="test-canvas" @*tabindex="0">
        <CardComponent></CardComponent>
    </svg>*@
</div>