* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto'
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
}


.main {
    display: grid;
    grid-auto-flow: row;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 1fr;
}

h1 {
    position: absolute;
    font-weight: 400;
    width: 100vw;
    color: lightgray;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    user-select: none;
    pointer-events: none;
}